* {
  margin-top: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  padding: 20px;
}

.players {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameInput-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameInput {
}

.add {
  padding: 5px 10px;
}

.name {
  color: rgb(0, 0, 0);
  font-size: 2em;
}

a {
  text-decoration: none;
}

.update {
  font-size: 1.5em;
}
